<h1>New Contact:</h1>

<%= form_tag "/contacts", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
   <div>
    phone: <input type="text" name="phone">
  </div>
  <div>
    address: <input type="text" name="address">
  </div>
  <div>
    Image: <input type="text" name="image">
  </div>
  <div>
    <input type="submit" name="Create Contact">
  </div>
<% end %>